.popup(ng-show="isShortcutsShown")
  .background(ng-click='toggleShortcuts()')
  .inner
    h2 Keyboard shortcuts
    h3 Global
    ul
      li
        .left-col
          .key Ctrl-Enter
        .right-col
          | Execute current query
      li
        .left-col
          .key Ctrl-Up
        .right-col
          | Goto previous view
      li
        .left-col
          .key Ctrl-Down
        .right-col
          | Goto next view
      li
        .left-col
          .key Esc
        .right-col
          | Toggle editor

    h3 Only when editor is hidden
    ul
      li
        .left-col
          .key ?
        .right-col
          | Toggle this view
      li
        .left-col
          .key h
        .right-col
          | Toggle history
      li
        .left-col
          .key t
        .right-col
          | Toggle table
      li
        .left-col
          .key n
        .right-col
          | Create a new view
      li
        .left-col
          .key d
        .right-col
          | Duplicate current view

nav.top-bar
  ul.title-area
    li.name
      h1
        a('ng-click'="toggleHistory()") Neo4j Browser
  section.top-bar-section
    ul.left
      li
        a(ng-click='createView()')
          .icon.menu-plus
          | New View
      li
        a(ng-click='copyView(currentView)')
          .icon.menu-fork
          | Duplicate

    ul.right
      li.has-dropdown
        a
          | Help
        ul.dropdown
          li
            a(ng-click='toggleShortcuts()') Keyboard shortcuts
          li
            a(href = "http://docs.neo4j.org", target="_BLANK") Docs
      //- ul.button-group(style='position:relative;top:5px;right:16px;z-index:10')
      //-     li
      //-       span
      //-         a.small.button('ng-click'="toggleEditor()", 'ng-class'='{secondary: !isEditorHidden}') Editor
      //-     li
      //-       span
      //-         a.small.button('ng-click'="toggleGraph()", 'ng-class'='{secondary: !isGraphExpanded}') Graph
      //-     li
      //-       span
      //-         a.small.button('ng-click'="toggleTable()", 'ng-class'='{secondary: !isTableExpanded}') Table

#history
  h3 Views
  a.icon.history-close('ng-click'="toggleHistory()")
  h4
    | Saved
    .icon.folder-add(ng-click='createFolder()')
  .droppable(ng-repeat='folder in folders.all()', ui-sortable="sortableOptions")
    h5.folder.open(ng-click='toggleFolder(folder)')
      div(edit-in-place='folder.name')
      .icon.folder-trash(ng-click='removeFolder(folder)')
    ul.starred.indented(ng-show='folder.expanded')
      li(ng-repeat="view in views.where({starred: true, folder: folder.id})",
         ng-class='{error: view.hasErrors, active: view.id == currentView.id}',
         ng-include=" 'views/list-item.html' ")
  .droppable(ui-sortable="sortableOptions")
    ul.starred
      li(ng-repeat="view in views.where({starred: true, folder: false})",
         ng-class='{error: view.hasErrors, active: view.id == currentView.id}',
         ng-include=" 'views/list-item.html' ")

  .droppable(ui-sortable="sortableOptions")
    h4 Recent
    ul
      li(ng-repeat='view in views.where({starred: false})',
         ng-class='{error: view.hasErrors, active: view.id == currentView.id}',
         ng-include=" 'views/list-item.html' ")

  file-upload

#views
  #view-background
  .view('ng-repeat' = 'view in views.all()', 'ng-show' = 'view.id == currentView.id', resizable)
    .view-editor(resize="height")
      span(resize-child="{'.CodeMirror-scroll': 'max-height'}")
        textarea('ui-codemirror'="{theme: 'neo', autofocus: true, lineNumbers: true, onFocus: blurred}", 'ng-model'='view.input', 'ui-refresh'='currentView.id + isEditorHidden', 'focus-on' = 'view.id == currentView.id')
        .icon.editor-refresh('ng-click' = 'view.exec()')
    .view-result(ng-class='{error: view.hasErrors}', resize="top")
      .status-bar(ng-class='{error: view.hasErrors, loading: view.isLoading}', handle)
        div(ng-hide='view.isLoading')
          span(ng-show='view.hasErrors')
            .icon.status-error
            {{view.errorText}}
          div(ng-hide='view.hasErrors')
            div(ng-show='result')
              .icon.status-success
              span(ng-include=" 'views/result-status.html' ")
              span  in <b>{{view.runTime}} ms</b>
              .updated-code(ng-show='view.savedInput != view.input')
                .icon.status-info
                | Code has changed since last execution.&nbsp;
                a(ng-click='view.revertCode()') Revert
            div(ng-hide='result')
              .icon.status-info
              | <b>Query not executed yet.</b> Press the play button or hit Ctrl-Enter to execute it.
        span(ng-show='view.isLoading')
          .icon.status-running.spin
          | Executing query...
      .split-pane(ng-hide='(view.hasErrors && !view.isLoading) || !view.response')
        .view-result-graph
          //- .icon.download('ng-click'='export()')
          //-.icon.expand('ng-click'="toggleGraph()", 'ng-class'='{restore: isGraphExpanded}')
          neo-graph(ng-model='view.response', ng-controller='D3GraphCtrl')
          .icon.table-show('ng-click' = 'toggleGraph()', ng-show="isGraphExpanded")
        .view-result-table
          //- .icon.download('ng-click'='export()')
          //-.icon.expand('ng-click'="toggleTable()", 'ng-class'='{restore: isTableExpanded}')
          .view-result-table-scroll
            neo-table(ng-model='view.response')
          .icon.table-download('ng-click'='export(view.response)', ng-class='{alone: isTableExpanded}', ng-controller='CSVCtrl')
          .icon.table-hide('ng-click' = 'toggleGraph()', ng-hide="isTableExpanded")
